<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Guest</title>
  </head>
  <body>
    <!-- Example -->
    <h1>Welcome!</h1>
    <p>You're just a guest so you can't really do anything. You should create a login.</p>
    
  </body>
</html>