<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Surf Buddy</title>
  <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
  <div class="bigContainerSimple">
    <div class="container">
      <h1>HEYO!</h1>
      <p>Find the latest report on your closest break!</p>
      <p>Try putting in some latitude and logitude coordinates.</p>
      If for some reason, you don't know any off the top of your head, try these: 8.8291,115.0849</p>
      <form action="/surf/search" method="POST">
        <input type="text" name="q" placeholder="enter long and lat coordinates">
        <input type="submit" value="Search">
      </form>
      <a href="/users/profile">Home</a>
    </div> 
  </div>        
</body>
</html>

