<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Surf Buddy</title>
  <link rel="stylesheet" href="">
</head>
<body>
  <h1>HEYO!</h1>
  <h1><%= report %></h1>
  <form action="/surf/search" method="POST">
    <input type="text" name="zipCode" placeholder="enter city">
    <input type="submit" value="Search">
  </form>

  <a href="/users/profile">Home</a>
</body>
</html>